@media (min-width: 1441px) {
    
    .container{
        padding: 0 165px;
    }

    #banner{
        .container{
            .texts{
                h1{
                    font-size: 7.38rem;
                } 
            }
            
            .image{
                img{
                    width: 733px;
                    top: -70px;
                }
            }
        }
    }
}