*, *:before, *:after {
  margin: 0;
  padding: 0;
  outline: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  font-size: 62.5%;
  /* 10px */
}

body {
  font-size: 1.8rem;
  /* 1.8rem * 10 = 18px */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 11.458%;
}

header {
  width: 100%;
  padding: 48px 0;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 2;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .menu nav {
  margin: 0 45px;
}

header .container .menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}

header .container .menu nav ul li {
  list-style: none;
}

header .container .menu nav ul li a {
  font-weight: 700;
  font-size: 1.6rem;
  text-decoration: none;
  color: #9e9aa7;
}

header .container .menu nav ul li a:hover {
  color: #232127;
}

header .container .menu .buttons button {
  width: 105px;
  height: 40px;
  border-radius: 20px;
  border: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.6rem;
}

header .container .menu .buttons button:first-of-type {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-right: 35px;
  color: #9e9aa7;
  background-color: #fff;
}

header .container .menu .buttons button:first-of-type:hover {
  color: #232127;
}

header .container .menu .buttons button:last-of-type {
  color: #fff;
  background-color: #2acfcf;
}

header .container .menu .buttons button:last-of-type:hover {
  background-color: #9BE3E2;
}

header .container .menu-button {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 33px;
  margin-left: auto;
  background-color: transparent;
  outline: transparent;
  border: none;
  cursor: pointer;
}

header .container .menu-button img {
  width: 24px;
  height: 21px;
}

#banner {
  margin-top: 136px;
  padding: 100px 0 138px 0;
  overflow-x: hidden;
}

#banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#banner .container .texts {
  width: 50%;
}

#banner .container .texts h1 {
  line-height: 110%;
  font-size: 5vw;
  color: #232127;
}

#banner .container .texts p {
  font-size: 1.53vw;
  margin: 22px 0 40px 0;
  color: #9e9aa7;
}

#banner .container .texts button {
  width: 197px;
  height: 56px;
  color: #fff;
  background-color: #2acfcf;
  border-radius: 35px;
  border: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.8rem;
}

#banner .container .texts button:hover {
  background-color: #9BE3E2;
}

#banner .container .image {
  width: 50%;
  position: relative;
}

#banner .container .image img {
  width: 50.9vw;
  position: absolute;
  top: -5vw;
  left: 5vw;
}

#advanced {
  padding: 0 0 120px 0;
  background-color: #F0F1F6;
  background: linear-gradient(to bottom, #fff 84px, #F0F1F6 84px, #F0F1F6 100%);
}

#advanced .container .shorten-area .shorten {
  padding: 52px 64px;
  border-radius: 10px;
  background-image: url(../images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3b3054;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#advanced .container .shorten-area .shorten input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 24px;
  padding: 0 33px;
  height: 64px;
  border-radius: 10px;
  border: 3px solid transparent;
  font-weight: 500;
  font-size: 1.8rem;
}

#advanced .container .shorten-area .shorten input.error {
  border: 3px solid #f46262;
}

#advanced .container .shorten-area .shorten input.error::-webkit-input-placeholder {
  color: #f46262;
}

#advanced .container .shorten-area .shorten input.error:-ms-input-placeholder {
  color: #f46262;
}

#advanced .container .shorten-area .shorten input.error::-ms-input-placeholder {
  color: #f46262;
}

#advanced .container .shorten-area .shorten input.error::placeholder {
  color: #f46262;
}

#advanced .container .shorten-area .shorten span {
  display: none;
}

#advanced .container .shorten-area .shorten span.error {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  font-style: italic;
  position: absolute;
  bottom: 22px;
  left: 64px;
  color: #f46262;
}

#advanced .container .shorten-area .shorten button {
  width: 188px;
  height: 64px;
  border-radius: 10px;
  color: #fff;
  background-color: #2acfcf;
  border: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.8rem;
}

#advanced .container .shorten-area .shorten button:hover {
  background-color: #9BE3E2;
}

#advanced .container .shorten-area .shorten-link-areas {
  display: none;
}

#advanced .container .shorten-area .shorten-link-areas.active {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

#advanced .container .shorten-area .shorten-link-areas.active .shorten-link-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 72px;
  padding: 16px 24px 16px 33px;
  border-radius: 10px;
  background-color: #fff;
}

#advanced .container .shorten-area .shorten-link-areas.active .shorten-link-area .link {
  width: 65%;
  color: #232127;
  overflow: hidden;
}

#advanced .container .shorten-area .shorten-link-areas.active .shorten-link-area .shorten-link {
  font-size: 1.8rem;
  border: none;
  margin: 0 24px 0 auto;
  color: #2acfcf;
  background-color: #fff;
  text-align: right;
}

#advanced .container .shorten-area .shorten-link-areas.active .shorten-link-area button {
  width: 103px;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  background-color: #2acfcf;
  border: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.6rem;
}

#advanced .container .shorten-area .shorten-link-areas.active .shorten-link-area button:hover {
  background-color: #9BE3E2;
}

#advanced .container .shorten-area .shorten-link-areas.active .shorten-link-area button.copied {
  background-color: #3b3054;
}

#advanced .container h2 {
  margin-top: 130px;
  font-size: 3.4rem;
  text-align: center;
  color: #232127;
}

#advanced .container > p {
  max-width: 525px;
  margin: 25px auto 106px auto;
  text-align: center;
  color: #9e9aa7;
}

#advanced .container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#advanced .container .cards .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 350px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 0 32px 44px 32px;
  background-color: #fff;
  border-radius: 5px;
}

#advanced .container .cards .card img {
  height: 88px;
  margin-top: -44px;
  padding: 14px;
  -o-object-fit: none;
     object-fit: none;
  background-color: #3b3054;
  border-radius: 100%;
}

#advanced .container .cards .card h3 {
  font-size: 2.2rem;
  margin: 23px 0 23px 0;
  color: #232127;
}

#advanced .container .cards .card p {
  font-size: 1.5rem;
  color: #9e9aa7;
}

#advanced .container .cards .card.card-2 {
  margin-top: 44px;
}

#advanced .container .cards .card.card-3 {
  margin-top: 88px;
}

#advanced .container .cards .line {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: block;
  min-width: 30px;
  height: 8px;
  background-color: #2acfcf;
}

#getStarted {
  background-image: url(../images/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3b3054;
  padding: 67px 0 57px 0;
}

#getStarted .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#getStarted .container h2 {
  margin-bottom: 28px;
  font-size: 3.4rem;
  text-align: center;
  color: #fff;
}

#getStarted .container button {
  width: 197px;
  height: 56px;
  color: #fff;
  background-color: #2acfcf;
  border-radius: 35px;
  border: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.8rem;
}

#getStarted .container button:hover {
  background-color: #9BE3E2;
}

footer {
  padding: 70px 0 75px 0;
  background-color: #232127;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 45px;
}

footer .container .logo-link svg path {
  fill: #fff;
}

footer .container .categories {
  width: 100%;
  max-width: 500px;
  min-height: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 45px;
  color: #fff;
}

footer .container .categories .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}

footer .container .categories .category h4 {
  font-size: 1.6rem;
  margin-bottom: 14px;
}

footer .container .categories .category a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #bfbfbf;
}

footer .container .categories .category a:hover {
  color: #2acfcf;
}

footer .container .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

footer .container .socials a {
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .socials a:hover svg path {
  fill: #2acfcf;
}

@media (min-width: 1441px) {
  .container {
    padding: 0 165px;
  }
  #banner .container .texts h1 {
    font-size: 7.38rem;
  }
  #banner .container .texts p {
    font-size: 2.2rem;
  }
  #banner .container .image img {
    width: 733px;
    top: -70px;
  }
}

@media (max-width: 1177px) {
  #banner .container .texts p {
    font-size: 1.8rem;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 5%;
  }
}

@media (max-width: 850px) {
  header {
    padding: 40px 0;
  }
  header .container {
    position: relative;
  }
  header .container .menu {
    display: none;
  }
  header .container .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 45px 24px 40px 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    border-radius: 10px;
    width: 90%;
    position: absolute;
    top: 56px;
    background-color: #3b3054;
  }
  header .container .menu.active nav {
    width: 100%;
  }
  header .container .menu.active nav ul {
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .container .menu.active nav ul li {
    margin-bottom: 30px;
  }
  header .container .menu.active nav ul li a {
    color: #fff;
  }
  header .container .menu.active .buttons {
    width: 100%;
    border-top: 1px solid #9e9aa7;
  }
  header .container .menu.active .buttons button {
    width: 100%;
  }
  header .container .menu.active .buttons button:first-of-type {
    margin: 30px 0 25px 0;
    color: #fff;
    background-color: transparent;
  }
  header .container .menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #banner {
    padding: 42px 0 88px 0;
  }
  #banner .container .texts h1 {
    font-size: 4.2rem;
  }
  #banner .container .texts p {
    margin: 20px 0 33px 0;
  }
  #banner .container .image img {
    top: -3vw;
    left: 3vw;
  }
  #advanced {
    padding: 0 0 80px 0;
    background: linear-gradient(to bottom, #fff 48px, #F0F1F6 48px, #F0F1F6 100%);
  }
  #advanced .container .shorten-area .shorten {
    padding: 28px;
  }
  #advanced .container .shorten-area .shorten input {
    margin-right: 16px;
    height: 48px;
    font-size: 1.6rem;
  }
  #advanced .container .shorten-area .shorten span.error {
    bottom: 4px;
    left: 24px;
  }
  #advanced .container .shorten-area .shorten button {
    height: 48px;
    font-size: 1.6rem;
  }
  #advanced .container .shorten-area .shorten-link-areas.active .shorten-link-area .link, #advanced .container .shorten-area .shorten-link-areas.active .shorten-link-area .shorten-link {
    font-size: 1.6rem;
  }
  #advanced .container h2 {
    margin-top: 94px;
    font-size: 3rem;
  }
  #advanced .container > p {
    margin: 20px auto 95px auto;
  }
  #advanced .container .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #advanced .container .cards .card {
    padding: 0 37px 37px 37px;
    text-align: center;
  }
  #advanced .container .cards .card.card-3 {
    margin-top: 44px;
  }
  #advanced .container .cards .line {
    min-width: 8px;
    height: 48px;
  }
  #getStarted {
    padding: 104px 0 90px 0;
  }
  #getStarted .container h2 {
    font-size: 3rem;
    margin-bottom: 18px;
  }
  footer {
    padding: 55px 0;
  }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
  footer .container .categories {
    padding: 50px 0 44px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 768px) {
  #banner {
    margin-top: 113px;
    padding: 0 0 88px 0;
  }
  #banner .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  #banner .container .texts {
    width: 100%;
  }
  #banner .container .image {
    width: 100%;
    position: static;
    padding-bottom: 40px;
  }
  #banner .container .image img {
    width: auto;
    height: 85.3vw;
    max-height: 320px;
    position: static;
  }
  #advanced {
    padding: 0 0 80px 0;
    background: linear-gradient(to bottom, #fff 48px, #F0F1F6 48px, #F0F1F6 100%);
  }
  #advanced .container .shorten-area .shorten {
    padding: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
  }
  #advanced .container .shorten-area .shorten input {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
    padding: 0 15px;
    margin-bottom: 35px;
  }
  #advanced .container .shorten-area .shorten span {
    margin-bottom: 90px;
  }
  #advanced .container .shorten-area .shorten button {
    width: 100%;
  }
}

@media (max-width: 710px) {
  #advanced .container .shorten-area .shorten-link-areas.active {
    gap: 6px;
  }
  #advanced .container .shorten-area .shorten-link-areas.active .shorten-link-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 155px;
    padding: 0 0 16px 0;
    overflow: hidden;
  }
  #advanced .container .shorten-area .shorten-link-areas.active .shorten-link-area .link, #advanced .container .shorten-area .shorten-link-areas.active .shorten-link-area .shorten-link {
    width: 100%;
    height: 40px;
    padding: 0 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  #advanced .container .shorten-area .shorten-link-areas.active .shorten-link-area .link {
    height: 49px;
    border-bottom: 1px solid #bfbfbf;
  }
  #advanced .container .shorten-area .shorten-link-areas.active .shorten-link-area button {
    width: calc(100% - 32px);
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 0 24px;
  }
  header .container .menu {
    display: none;
  }
  header .container .menu.active {
    width: calc(100% - 48px);
  }
  #advanced .container .shorten-area .shorten {
    background-image: url(../images/bg-shorten-mobile.svg);
    background-position-x: 80px;
    background-position-y: -50px;
  }
  #advanced .container h2 {
    font-size: 2.8rem;
  }
  #advanced .container .cards .card p {
    font-size: 1.48rem;
  }
  #getStarted {
    background-image: url(../images/bg-boost-mobile.svg);
  }
  #getStarted .container h2 {
    font-size: 2.8rem;
  }
}

.border {
  border: 1px solid gold;
}

.attribution {
  padding: 10px 0;
}

.attribution .container {
  font-size: 11px;
  text-align: center;
}

.attribution .container a {
  color: #3e52a3;
}
