@import "basicConfig";
@import "header";
@import "banner";
@import "advanced";
@import "getStarted";
@import "footer";
@import "responsive";
    

.border {
    border: 1px solid gold;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}